@model TixFix.Models.OpponentDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OpponentDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OpponentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpponentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.OpponentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
