@model IEnumerable<TixFix.Models.OpponentListItem>

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/Index.css" rel="stylesheet" />

</head>
<div class="cindex">
    <img src="~/Content/NewFolder1/194-1946027_reds-cincinnati-reds-logo-1890.png" />

    <h2>Opponent Information</h2>

    <p>
        @Html.ActionLink("Back To Home", "Index", "Home")
    </p>
    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">

            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadium)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stadium)
                </td>
                <td>
                    @Html.ActionLink("Update", "Edit", new { id = item.EventId }) |
                    @Html.ActionLink("More Info", "Details", new { id = item.EventId }) |
                    @Html.ActionLink("Remove", "Delete", new { id = item.EventId })
                </td>
            </tr>
        }

    </table>
</div>