@model TixFix.Models.TicketDetail

@{
    ViewBag.Title = "Details";
}
<head>
    <link href="~/Content/Index.css" rel="stylesheet" />

</head>
<div class="cindex">
    <img src="~/Content/NewFolder1/194-1946027_reds-cincinnati-reds-logo-1890.png" />
    <h2>Ticket Information</h2>

    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TicketId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TicketId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Opponent)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Opponent)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Stadium)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Stadium)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfGame)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfGame)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsAvailable)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Update", "Edit", new { id = Model.TicketId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>