@model IEnumerable<TixFix.Models.StadiumListItem>

@{
    ViewBag.Title = "Index";
}

<div class="cindex">
    <img src="~/Content/NewFolder1/194-1946027_reds-cincinnati-reds-logo-1890.png" />

    <h2>All Stadiums</h2>

    <p>
        @Html.ActionLink("Back To Home", "Index", "Home")
    </p>
    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">

            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StadiumId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StadiumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StadiumId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StadiumName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>

                <td>
                    @Html.ActionLink("Update", "Edit", new { id = item.StadiumId }) |
                    @Html.ActionLink("More Info", "Details", new { id = item.StadiumId }) |
                    @Html.ActionLink("Remove", "Delete", new { id = item.StadiumId })
                </td>
            </tr>
        }

    </table>
</div>